:root{
    --primary:#79828B;
    --light-gray:#10C176;
    --second-primary:#42505C;
    --blue: #6271D2;
    --light-yellow:#D28E62;
    --green: #10C176;
    --light-green:#CFF3E3;
    --light-blue:#EFF0FA;
    --dark-blue:#4c5ebb;
    --border:#E6EBF0;

}       